.portfolio {
  width: 100%;
  height: 100%;

  background-color: #ffe5cf;
  position: relative;

  // portfolioLoader.tsx
  & > .portfolio-loader {
    width: 100%;
    height: 100%;
    position: relative;

    & > img {
      object-fit: cover;
    }

    & > .progress {
      color: #e29e63;
      font-size: 5rem;
      font-weight: 700;
      text-shadow: 1px 1px 2px #111111, 0 0 1em #ffffff, 0 0 0.2em #ffffff;

      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 2;
    }
  }

  // WelcomeText.tsx
  & > .text-position {
    color: #fefefe;
    font-weight: 700;
    line-height: 0.8;
    font-size: 8rem;

    @media (min-width: 550px) {
      font-size: 10rem;
    }

    @media (min-width: 1200px) {
      font-size: 15rem;
      line-height: 0.75;
    }

    & > .char {
      width: fit-content;
      height: fit-content;
      background: transparent;

      opacity: 0;
      animation: fade-in 4s ease 0.2s forwards;

      &.reverse {
        animation: fade-out 2s ease 0s forwards;
      }

      user-select: none;

      white-space: nowrap;
      position: fixed;
      z-index: 1;

      &.portfolio {
        display: inline-flex;
        left: 20px;
        top: 20px;

        & > span {
          overflow: hidden;
        }
        & > span:first-child {
          width: 5.5rem;
        }
        & > span:last-child {
          width: 12rem;
          position: relative;
          left: -6.75px;
        }
      }

      $taeyeon: ('a', 'eon', 'y', 'e', 'o', 'n');

      @each $char in $taeyeon {
        $i: index($taeyeon, $char);

        &.#{$char} {
          left: 86px;
          top: $i * 85px + 15px;
        }
      }

      &.eon {
        width: 5rem;
        overflow: hidden;
      }

      @media (min-width: 550px) {
        &.portfolio {
          left: 55px;
          top: 50px;

          & > span:first-child,
          & > span:last-child {
            width: auto;
            left: 0;
          }
        }

        @each $char in $taeyeon {
          $i: index($taeyeon, $char);

          &.#{$char} {
            left: 326px;
            top: $i * 100px + 50px;
          }
        }

        &.e,
        &.o,
        &.n {
          visibility: hidden;
        }
        &.eon {
          width: auto;
        }
      }

      @media (min-width: 1200px) {
        user-select: text;

        &.portfolio {
          left: 50px;
        }

        @each $char in $taeyeon {
          $i: index($taeyeon, $char);

          &.#{$char} {
            left: 457.5px;
            top: $i * 152.5px + 50px;
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
